<%- include('partials/header') %>
<main class="content">
  <% if (typeof message !== 'undefined') { %>
  <p class="message" role="alert">Message : <%= message %></p>
  <% } %>
  <h1 class="content-title">Mon compte</h1>
  <section class="segment">
    <% if (user.pseudo == '') { %>
    <h2 class="segment-title">
      Créer votre pseudonyme ! Le formulaire est en bas de page
    </h2>
    <% } else { %>
    <h2 class="segment-title"><%= user.pseudo %></h2>
    <% } %>
  </section>
  <section class="segment">
    <h2 class="segment-title">Mes sites dénoncés</h2>
    <div class="card-container">
      <% for (const website of websites) { %> <%- include('partials/card' , {
      website }) %> <% } %>
    </div>
  </section>
  <section class="segment">
    <h2 class="segment-title">Mes commentaires ajoutés</h2>
    <% for (const comment of comments) { %> <%- include('partials/comment' , {
    comment }) %> <% } %>
  </section>
  <section class="segment">
    <h2 class="segment-title">Editer mon profil</h2>
    <form method="POST" action="/profil" class="form">
      <input type="hidden" name="_method" value="PUT" />
      <!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}" /> -->
      <label class="form-field">
        Email
        <input
          name="email"
          type="mail"
          class="form-input"
          placeholder="Votre email"
        />
      </label>
      <label class="form-field">
        Pseudonyme
        <input
          name="pseudo"
          type="text"
          class="form-input"
          placeholder="Votre pseudo"
        />
      </label>
      <!-- <label class="form-field">
        Mot de passe actuel
        <input
          name="previouspassword"
          type="password"
          class="form-input"
          placeholder="Ancien mot de passe"
        />
      </label> -->
      <label class="form-field">
        Nouveau mot de passe
        <input
          name="password"
          type="password"
          class="form-input"
          placeholder="Nouveau mot passe"
        />
      </label>
      <!-- <label class="form-field">
        Confirmation nouveau mot de passe
        <input
          name="confirmedpassword"
          type="password"
          class="form-input"
          placeholder="Confirmation nouveau mot de passe"
        />
      </label> -->
      <div class="segment-actions">
        <button type="submit" class="btn">Mettre à jour</button>
      </div>
    </form>
  </section>
</main>
<%- include('partials/footer') %>
